<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated form -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="fml.presentation.FmlModelWizardID"
            name="%_UI_FmlModelWizard_label"
            class="fml.presentation.FmlModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FmlModelFile.gif">
         <description>%_UI_FmlModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated form -->
      <editor
            id="fml.presentation.FmlEditorID"
            name="%_UI_FmlEditor_label"
            icon="icons/full/obj16/FmlModelFile.gif"
            extensions="fml"
            class="fml.presentation.FmlEditor"
            contributorClass="fml.presentation.FmlActionBarContributor">
      </editor>
   </extension>

</plugin>
